# Configuration file

biome {
    I:CandyCaramelForest=249
    I:CandyColdForest=244
    I:CandyEnchantedForest=248
    I:CandyForest=243
    I:CandyFrostPlains=250
    I:CandyHellMountains=246
    I:CandyMountains=240
    I:CandyOceans=247
    I:CandyPlains=242
    I:CandyRiver=245
    I:DungeonBiome=241
}


dimension {
    I:Dungeon=24
    I:Id=23
}


enchantment {
    I:Devourer=230
    I:HoneyGlue=231
}


entity {
    I:BossSlime=600
    I:Bunny=601
    I:CandyArrow=602
    I:CandyCreeper=603
    I:CandyFish=604
    I:CandyPig=605
    I:CandyWolf=606
    I:CaramelBee=607
    I:CottonCandySpider=608
    I:Dynamite=609
    I:EntityBeetle=610
    I:EntityBossBeetle=611
    I:EntityDragon=612
    I:EntityKingBeetle=613
    I:EntityNougatGolem=614
    I:EntityPingouin=615
    I:GingerBread=616
    I:GlueDynamite=617
    I:GummyBall=618
    I:KamikazeSlime=619
    I:KingSlime=620
    I:Nessie=621
    I:PEZSlime=622
    I:SprinterSlime=623
    I:Suguard=624
    I:SuguardBoss=625
    I:SuguardMage=626
    I:TornadoSlime=627
    I:WaffleSheep=628
}

